.shop-sidebar .single-widget {
  margin-top: 30px;
  background: #f6f7fb;
  padding: 30px;
}
.shop-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.shop-sidebar .single-widget:first-child {
  margin-top: 0;
}
.shop-sidebar .single-widget .title {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 25px;
  display: block;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
.shop .range .price-filter {
  display: block;
  margin-top: 20px;
}
.shop .range #slider-range {
  box-shadow: none;
  border: none;
  height: 4px;
  background: var(--main-color);
  color: var(--main-color);
  border-radius: 0px;
}
.shop .range .label-input {
  margin-top: 15px;
}
.shop .range .label-input span {
  margin-right: 5px;
  color: #282828;
}
.shop .range .ui-slider-handle.ui-state-default.ui-corner-all {
  background: var(--main-color);
  color: var(--main-color);
  cursor: pointer;
}
.shop .range .label-input input {
  border: none;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: #222;
  background: transparent;
}
.shop .check-box-list {
  margin-top: 15px;
}
.shop .check-box-list li {
  margin-bottom: 5px;
}
.shop .check-box-list li:last-child {
  margin: 0;
}
.shop .check-box-list li label input {
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 1px;
}
.shop .check-box-list li label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
}
.shop .check-box-list .count {
  margin-left: 5px;
  color: #666;
}
.shop-sidebar .categor-list {
  margin-top: 10px;
}
.shop-sidebar .categor-list li {
  margin-bottom: 10px;
}
.shop-sidebar .categor-list li:last-child {
  margin-bottom: 0px;
}
.shop-sidebar .categor-list li a {
  display: inline-block;
  color: #666;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}
.shop-sidebar .categor-list li a:hover {
  color: var(--main-color);
}
.shop .shop-top {
  clear: both;
  background: #f6f7fb;
  padding: 20px;
}
.shop .single-shorter {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px 10px 0;
}
.shop .single-shorter label {
  float: left;
  margin: 5px 10px 0 0;
  font-weight: 500;
}
.shop .single-shorter select {
  width: 200px;
}
