.legal-notice {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 20px;
  min-height: 100vh;
}

.legal-notice h1,
.legal-notice h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.legal-notice h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  text-decoration: underline;
}

.legal-notice p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  color: var(--black-color);
}
