.header .navbar-color {
  background-color: var(--main-color);
  color: var(--white-color);
}

.header .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header .navbar-toggler:focus {
  box-shadow: none !important;
}

.header .dropdown-item:focus,
.header .dropdown-item:active {
  background-color: #f8f9fa;
  color: #000;
}

.header .dropdown-toggle.nav-link:focus {
  color: inherit;
}

.header .dropdown-toggle.btn-link:focus {
  box-shadow: none;
}

@media (max-width: 991.98px) {
  .header .mobile-search-container {
    flex: 1;
    max-width: 250px;
    margin-left: auto;
  }

  .header .top-bar-mobile {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .header .navbar-mobile-top {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
}
